:root{
    --primaryColor: #006AAB;
    --secondaryColor: #3DB5FF;
    --tertiaryColor: #F8F7F7;
    --footerTextLinkColor: #3F3F3F;
    --sectionDefaultPadding: 70px;
    --fontBold: Gill_Sans_otf;
    --fontSize18: 18px;
    --fontSize16: 16px;
}
body{
    font-family: Gill_Sans_otf, Gill_Sans_Bold_otf, serif;
}
