:root{
    --primaryColor: #006AAB;
    --secondaryColor: #3DB5FF;
    --tertiaryColor: #F8F7F7;
    --footerTextLinkColor: #3F3F3F;
    --sectionDefaultPadding: 70px;
    --fontBold: Gill_Sans_otf;
    --fontSize18: 18px;
    --fontSize16: 16px;
}
body{
    font-family: Gill_Sans_otf, Gill_Sans_Bold_otf, serif;
}
strong{
    font-family: Gill_Sans_Bold_otf, serif;
}

/* Style for the overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 / 95%); /* Dark semi-transparent background */
    z-index: 999; /* Set a high z-index to make sure it's above other elements */
    overflow: scroll;
}

/* Style for the pop-up container */
#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #C6E9FF;
    padding: 10px 15px;
    z-index: 1000; /* Make sure it's above the overlay */
    border-radius: 10px;

}
/* Style to center the submit button */
#gform_wrapper_5 .gform_footer {
    text-align: center;
}

#gform_wrapper_5 .gform_button {
    margin: 0 auto;
    display: inline-block;
    border: none;
    background: #016AAB;
    width: 250px;
    padding: 1rem 3rem;
    color: #fff;
    text-transform: uppercase;
}
.overlay-content {
    padding: 5rem;
    height: 100%;

}
.overlay-content h3{
    color: #006AAB;
    font-family: Gill Sans, serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; /* 100% */
    letter-spacing: 0.45px;
}
.close-button {
    right: 0;
    position: relative;
    text-align: right;
    cursor:pointer;
    margin-top:60px;
}

.category-pin{
    line-height: 1.3rem;
    border-radius: 40px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
}
.category-pin.blue{
    background: #03009E;
}
.category-pin.red{
    background: #A92829;
}
.category-pin.green{
    background:#14A636;
}
.wrapper-content {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    padding-bottom:50px;
}

.overlay-content h4 {
    color: #006AAB;
    font-family: Gill Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 125% */
    letter-spacing: 0.28px;
    margin-top: 10px;
}

.overlay-content p {
    color: #3F3F3F;
    font-family: Calibri;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

