header{
    position: relative;
    .navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 1000;
        padding: 2% 5%;
        .sticky-logo{
            display:none;
        }
        .logo{
            display:block;
        }
        .logo-link{
            max-width: 250px;
        }
        &.sticky{
            background-color: #F8F7F7; /* Set the background color when sticky */
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            padding: 1% 5%;
            color:#000;
            .sticky-logo{
                display:block;
            }
            .logo{
                display:none;
            }
            .navbar-nav {
                .nav-link {
                    color: #006AAB;
                    &:hover{
                        color: #aaa;
                    }
                }
            }
        }
        /* Adjust padding/margin if necessary */
        .navbar-brand img {
            max-height: 40px;
            padding: 10px;
        }

        .navbar-nav {
            margin-right: 20px;
            .nav-link {
                color: white;
                &:hover{
                    color: #aaa;
                }
            }
        }
    }

    .carousel{
        .carousel-indicators{
            button{
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }
        .carousel-description{
            position: absolute;
            top: 35%;
            /* right: 15%; */
            bottom: 1.25rem;
            left: 5%;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            width: 25%;
            /* text-align: center; */
        }
        .carousel-indicators [data-bs-target]{
            /* background-color: transparent; */
            border: 1px solid #fff;
        }
    }

}
