header{
    position: relative;
    .navbar-toggler{
        background-color:#fff;
        border-radius: 0;
        color:  #006AAB;

        &:focus{
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    .navbar {
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: 1000;
        padding: 2% 5%;

        .nav-item{
            padding: 0 20px;
            a{
                span{
                    font-family: Gill_Sans_otf, serif;
                    font-size: 16px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }
        /* Hide submenus and set initial styles */
        #menu-primary-navigation .menu-item {
            position: relative;
        }

        #menu-primary-navigation .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%; /* Set the width to match the main menu item */
            background-color: #f0f0f0;
            padding: 10px; /* Adjust the padding as needed */
            z-index: 1000;
            .nav-link{
                color:#aaa;
            }
            .nav-item:hover {
                background:none!important;
            }

        }



        /* Style for the main menu item and submenu background */
        #menu-primary-navigation .menu-item:hover {
            background-color: #e0e0e0; /* Change this to your desired background color */
            >a{
                color:  #006AAB;
            }
        }

        .sticky-logo{
            display:none;
        }
        .logo{
            display:block;
        }
        .logo-link{
            max-width: 250px;
        }
        &.sticky{
            background-color: #F8F7F7; /* Set the background color when sticky */
            position: fixed!important;
            width: 100%;
            top: 0;
            z-index: 1000;
            padding: 1% 5%;
            color:#000;
            .sticky-logo{
                display:block;
            }
            .logo{
                display:none;
            }
            .navbar-nav {
                .nav-link {
                    font-family: Gill Sans, serif;
                    font-size: 16px;
                    color: #006AAB;
                    &:hover{
                        color: #006AAB;

                    }
                }
            }
        }
        /* Adjust padding/margin if necessary */
        .navbar-brand img {
            max-height: 40px;
            padding: 10px;
        }

        .navbar-nav {
            margin-right: 20px;
            position: relative;
            .nav-link {
                color: #006AAB;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                &:hover{
                    color: #006AAB;

                }
            }
        }
    }
}
.page-template-template-board,
.page.privacy-and-cookie-policy,
.single-career,
.single-post{
    .navbar{
        position: relative;
        width: 100%;
        z-index: 1000;
        padding: 1% 5%;
        .sticky-logo{
            display: block;
        }
        .logo  {
            display: none;
        }
        .nav-link {
            color: #006AAB!important;
            font-weight: bold;
            &:hover{
                color: #006AAB;
            }
        }
    }

}

ul.job-details{
    list-style-type:none;
    padding: 0;
    >li{
        margin-right: 1.25rem;
        display: inline-block;
    }
}
