.count_div-block{
    background-color: var(--secondaryColor);
    text-align: center;
    padding: 5%;
}
.title_div-block{
    font-size: 70px;
    color: #fff;
}
.text_div-block{
    font-size: 25px;
    color: #fff;
}
