@media only screen and (min-width: 320px)  {
    .carousel{
        .carousel-item{
            background-repeat: no-repeat;
            background-size:contain;
        }
    }
    .carousel-description{
        background: var(--primaryColor);
        padding: 20px;
    }
    .button_btnAboutUs{
        background: transparent;
        border: 1px solid #fff;
        &:hover{
            transition: background-color 0.3s ease;
            background: var(--secondaryColor);
        }
    }
    .footer_display-flex{
        flex-direction: column!important;
    }
    .footer_copyright{
        display: block;
    }
    .icons_list{
        .social-icon{
            padding: 0 10px;
        }
    }
    .default_section-padding{
        padding: 30px;
    }
    .news_input-text{
        display: flex;
        flex-direction: column;
    }
    .news_input-text input{
        width: 100%;
        margin-bottom: 10px;
    }
    .description_extra-padding{
        padding: 0 10%;
    }
    .block_featured, .block_leaders{
        padding: 13% 11%;
        border-radius: 0px;
        position: relative;
        left: 0;
        border: 1px solid var(--primaryColor);
    }
    .block_health{
        width: 100%;
    }
    .block_leadership{
        width: 100%;
    }
    .block_nutrition{
        padding: 0;
    }
    .program_div-item{
        padding: 0%;
    }
    .block_nutrition{
        width: 100%;
    }
    .program_content{
        height: 1000;
    }
    .program_div-item{
        padding: 0 2%;
    }
    .div_program-body{
        display: block;
        justify-content: center;
        padding: 12%;

    }
    .block_mobile{
        display: block;
    }
    .block_desktop{
        display: none;
    }
    .block_nutrition, .block_leadership, .block_health{
        position: relative;
        height: 100vh;
    }
    .block_nutrition, .block_leadership, .block_health{
        width: 100%;
    }
    .program_menu{
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: #fff;
    }
    .section_default-padding{
        padding: 10%;
    }
    #navbarNavDropdown{
        background-color: var(--primaryColor);
        color: #fff;
    }
    .navbar-toggler-icon{
        background-image: url('../../images/hamburger-menu-svgrepo-com.svg');
    }
    .navbar-nav .nav-link{
        color: #ffff;
    }
    .navbar-nav{
        text-align: center;
    }
    .sticky{
        padding: 5% 0;
        color: #fff;
    }
    .navbar{
        padding: 5% 0;
        color: #ffff;
    }
    .div_heading-title{
        font-size: 16px;
        list-style: none;
    }
    .who_paragraph-size{
        font-size: 30px;
    }
}

/* Media 768 */
@media only screen and (min-width: 768px){
    #popup-container {
        padding: 60px;
    }
    .button_default{
        background: var(--primaryColor);
        border: none;
    }
    .carousel{
        .carousel-indicators{
            button{
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }
        .carousel-description{
            position: absolute;
            background: transparent;
            top: 35%;
            /* right: 15%; */
            bottom: 1.25rem;
            left: 5%;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
            color: #fff;
            width: 75%;
            /* text-align: center; */
        }
        .carousel-indicators [data-bs-target]{
            /* background-color: transparent; */
            border: 1px solid #fff;
        }
    }
    .carousel-description{
        top: 20%;
    }
    .news_input-text{
        flex-direction: row;
        justify-content: center;
        input[type="email"] {
            padding: 10px;
            width: 520px!important;
        }
        input[type="submit"] {
            padding: 10px;
            width: 200px!important;
        }
    }

    .footer_display-flex{
        flex-direction: row!important;
        padding-top: 10px;
    }
    //.icons_list {
    //    padding: 0 75% 0 0;
    //}
    .icons_list{
        .social-icon{
            padding: 0 20px;
        }
    }
    .who_paragraph-size{
        font-size: 40px;
    }
    .button_default{
        padding: 1rem 5rem;
    }
}

/* Media 1200 */
@media only screen and (min-width: 1024px) {
    .hide-m {
        display: flex !important;
    }
    .carousel{
        .carousel-description{
            width: 25%;
        }
    }

    #navbarNavDropdown {
        background-color: transparent;
    }

    .navbar-nav .nav-link {
        color: #fff;
    }

    .block_mobile {
        display: none !important;
    }

    .block_desktop {
        display: block !important;
    }

    .block_nutrition {
        width: 80%;
    }

    .program_content {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .program_div-item {
        padding: 0 2%;
    }

    .div_program-body {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: none;
        padding: 0;
    }

    .block_mobile {
        display: none !important;
    }

    .block_nutrition,
    .block_leadership,
    .block_health {
        position: absolute;
        height: 100%;
    }

    .block_leadership {
        width: 90%;
    }

    .block_health {
        width: 100%;
    }

    .program_content {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .program_div-item {
        height: 100%;
        padding: 15px;
        max-width: 428px;
        display: block;
        overflow: hidden;
        word-wrap: break-word;
        white-space: initial;
    }

    .program_description {
        font-size: 18px;
        padding-bottom: 15px;
    }

    .program_menu {
        padding: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
    }

    .program_menu:hover {
        color: var(--secondaryColor);
        cursor: pointer;
    }

    .program_menu:hover+.block_leadership {
        width: 100% !important;
        color: var(--secondaryColor);
        cursor: pointer;
    }

    .who_paragraph-size {
        font-size: 45px;
    }

    .default_section-padding {
        padding: var(--sectionDefaultPadding);
    }

    .block_featured {
        padding: 13% 15%;
        border-radius: 20px;
        position: relative;
        left: -18%;
        border: 1px solid var(--primaryColor);
    }
    .career-item{
        .block_leaders{
            left:0;
        }
    }
    .block_leaders {
        padding: 10%;
        border-radius: 20px;
        position: relative;
        left: -18%;
        border: 1px solid var(--primaryColor);
    }

    .footer_display-flex {
        flex-direction: row!important;
        padding: 0;
    }

    .footer_copyright {
        display: flex;
    }

    //.icons_list {
    //    padding: 0 55% 0 0;
    //}

    .navbar {
        padding: 2% 5%;
    }

    .sticky {
        padding: 1% 5% !important;
        color: #fff;
    }
}
