@font-face {
    font-family: Gill_Sans_otf;
    src: url("../../fonts/otf/Gill_Sans/Gill Sans.otf");
}
@font-face {
    font-family: Gill_Sans_Bold_otf;
    src: url("../../fonts/otf/Gill_Sans/Gill Sans Italic.otf");
}
@font-face {
    font-family: Gill_Sans_woff;
    src: url("../../fonts/woff/Gill_Sans/Gill Sans.woff");
}
@font-face {
    font-family: Gill_Sans_ttf;
    src: url("../../fonts/ttf/Gill_Sans/Gill Sans.ttf");
}
