.button_default{
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 19.09px;
    text-align: center;
    transition: background-color 0.3s ease;
    &:hover{
        transition: background-color 0.3s ease;
        background: var(--secondaryColor);
    }
}
.button_btnAboutUs, .button_btnHealthCare{
    border: 1px solid var(--primaryColor);
    background-color: var(--primaryColor);
}
.button_programs{
    background-color: transparent;
    font-size: var(--fontSize18);
    background: var(--primaryColor);
    border: none;
    text-decoration: none;
}
